@media only screen and (max-width: 768px) {
  .card-lg {
    box-shadow: none !important;
  }
}

.card-login {
  position: relative;
  top: 43px;
}

.textLinkGreen {
  color: rgb(3, 124, 14) !important;
}

.text-blackToGray {
  color: #31353b;
}

.mt-6 {
    margin-top: 200px !important;
}

.text-gray2 {
  color: #7b7474 !important; 
}

.letter-login {
  letter-spacing: -0.5px;
}

.letter-login2 {
  letter-spacing: 0.5px;
}
.letter-login3 {
  letter-spacing: 0.4px;
}

.shadow-style {
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.05) !important;
}

.shadow-style2 {
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.11) !important;
}

.lineHorizontal {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  width: 31%;
  position: relative;
  top: -6px;
}

.offcanvas-login {
    border-radius: 10px !important;
    height: 220px !important;
}

.lnHR {
  justify-content: center;
  margin: 24px 0;
}

.fs-log {
  font-size: 16.1px;
}

.fs-log1 {
  font-size: calc(14px + 0.4px);
}

.fs-log2 {
    font-size: 12.5px;
}

.fs-log3 {
    font-size: 11px;
}

.text-gray {
  color: rgba(0, 0, 0, 0.45) ;
}

.input-login:focus {
  box-shadow: none;
  outline: none;
  border-color: rgb(3, 230, 10);
}

.btn-login {
  border: 0;
  font-family: "OpenSauceOneRegular";
  font-style: normal;
  font-size: 14.4px;
  background-color: #e5e7e9 ;
  color: #696868 ;
}

.btn-login:hover {
  color: #696868 !important;
  background-color: #e5e7e9 !important;
  cursor: no-drop;
}

.btn-login:active {
  cursor: no-drop;
  color: #696868 !important;
  background-color: #d7d7d7 !important;
}

/* .button-login {
  background-color: #e5e7e9 ;
  color: #696868 ;
} */

.button-loginH:hover {
  /* cursor: pointer; */
  color: #696868 !important;
  background-color: #e5e7e9 !important;
  cursor: no-drop;
}

.button-loginA:active {
  /* cursor: pointer; */
  cursor: no-drop;
  color: #696868 !important;
  background-color: #d7d7d7 !important;
}

.btnLogin-hover:hover {
  cursor: pointer;
  color: white !important;
  background-color: #12883d !important;
}
.btnLogin-active:active {
  cursor: pointer;
  color: white !important;
  background-color: #117f39 !important;
}

.allMethod {
  border-color: #e5e7e9;
}

.allMethod:hover {
  border-color: #e5e7e9;
}

.allMethod:active {
  border-color: #d7d7d7 !important;
}

.QR {
  color: #757575;
}

.QR:hover {
  color: #757575;
}

.QR:active {
  color: #757575 !important;
}

.google {
  color: #31353b;
}

.google:hover {
  color: #31353b;
}

.google:active {
  color: #31353b !important;
}

/* .button-login:active:hover:not([disabled]) {
        cursor: no-drop;
    }

    .button-login:hover:disabled {
        cursor: no-drop;
    }

    .button-login:active:disabled {
        background-color: red !important;
    } */
